In [85]:
import pandas as pd
import pickle
import csv
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

from collections import defaultdict
from collections import Counter
from math import log
import numpy as np

from scipy.spatial.distance import cosine

import math 

import heapq
from heapq import heappush, heappop

from geopy.geocoders import Nominatim
from geopy import distance

sp = string.punctuation+'“”–’'

[nltk_data] Downloading package punkt to /Users/miguel/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/miguel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
import time

# Import data

In [86]:
texas1 = pd.read_csv("data/Airbnb_Texas_Rentals.csv")
texas1 = texas1.drop(['Unnamed: 0'], axis=1)

In [ ]:
texas1['']

In [9]:
#pd.set_option('expand_frame_repr',False)
texas1.head()

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
1,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW – ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
2,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...
3,$60,1,Bryan,February 2016,Private bedroom in a cute little home situated...,30.637304,-96.337846,Private Room Close to Campus,https://www.airbnb.com/rooms/11839729?location...
4,$75,2,Fort Worth,February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...

# Create docuemnts as tsv file

In [2]:
path1 = 'data/docs/'
path2 = '.tsv'
stemmed_path='data/tokenized_docs/'
sp = string.punctuation+'“”–’'

In [3]:
def remove_step(doc):
    """
    takes as input the string of the document
    removes stopwords, punctuation and makes stemming 
    input:
    - string of document
    output:
    - list of term after stemming process
    
    """
    
    # check if it's a nan value 

    if isinstance(doc, float):
        return str(doc)
    
    doc=doc.replace("\\n", " ")
    # punctuations
    doc = [ c if c not in sp else " " for c in doc ]
    doc = ''.join(doc)
    # stopwords
    doc = [ word for word in doc.split() if word.lower() not in stopwords.words('english') ]
    doc = ' '.join(doc)
    
    # stemming
    ps = PorterStemmer()
    words = word_tokenize(doc)
    
    w_lst = []
    for w in words:
        w_lst.append(ps.stem(w))
    
    # something else
    
    return ' '.join(w_lst)

In [4]:
def save_obj(obj, name):
    """
    save the object int a pickle file
    """
    with open('data/'+ name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name):
    """
    load the object from a pickle file
    """
    with open('data/' + name + '.pkl', 'rb') as f:
        return pickle.load(f)

Preprocessing create the tsv files.
We created vocabulary parsing every document and updating it when the algorithm finds a new word. 
Format of vocabulary => 'string':integer.
Creation of ii1:
The first inverted index is built, updating it every time a word is find in a document.
At the end we stored vocabulary and the inverted index using pickle.

In [5]:
def preprocessing(data):
    n=len(data)

    for i in range(n):
        with open(path1 + 'doc_'+ str(i) + '.tsv', 'w', encoding = "utf-8") as doc:
            a = csv.writer(doc, delimiter='\t')
            a.writerow([data.iloc[i]['average_rate_per_night'],data.iloc[i]['bedrooms_count'], data.iloc[i]['city'],
                        data.iloc[i]['date_of_listing'], data.iloc[i]['description'],
                        data.iloc[i]['latitude'],
                        data.iloc[i]['longitude'],
                        data.iloc[i]['title'],
                        data.iloc[i]['url']])

    return

def create_vocabulary_and_ii1 (data):
    n = len(data)
    vocabulary = {}
    ii1 = {}    
    cnt = 0
    
    for i in range(n):
        # creating a tokenized string with title and description
        tokenized_str = (remove_step(data.iloc[i]['title']) + ' ' 
                                     + remove_step(data.iloc[i]['description']))

        # creating the dictionary
        for term in tokenized_str.split(' '):
            if term in vocabulary.keys():
                term_id = vocabulary[term]
            else:
                vocabulary[term] = cnt
                term_id = cnt
                cnt+=1

            if term_id not in ii1.keys():
                ii1[term_id] = ['doc_'+str(i)]
            else:
                lista = ii1[term_id]
                document = 'doc_'+str(i)
                if document in lista:
                    continue
                else:        
                    ii1[term_id].append('doc_'+str(i))

    # store vocabulary in pickle format
    save_obj(vocabulary, 'vocabulary')
    save_obj(ii1, 'inverted_index_1')
    return

In [9]:
#create_vocabulary and inverted index 1 (for the first search engine)
create_vocabulary_and_ii1(texas1)

In [188]:
# do not run if you don't want to waste time :-D 
preprocessing(texas1)

In [6]:
def search_engine_1(query): 
    
    query = remove_step(query)
    query = list(set(query.split(' ')))
    
    lst_of_lst=[]
    
    vocabulary = load_obj('vocabulary')
    ii1 = load_obj('inverted_index_1')
    
    for w in query:
        if w not in vocabulary:
            print('No results')
            return
        i = vocabulary[w]
        lst_of_lst.append(ii1[i])


    doc_list = set.intersection(*[set(sublist) for sublist in lst_of_lst])
    doc_list = list(doc_list)
    dl = len(doc_list)
    
    if dl ==0:
        print('No results')
        return

    list_for_df=[]
    for i in range(dl):
        with open ("data/docs/" + doc_list[i] + '.tsv') as doc:
            row = doc.read()
            lst = row.split('\t')
            lst = [lst[7],lst[4],lst[2],lst[8]]
            list_for_df.append(lst)
        
    df=pd.DataFrame(list_for_df, columns=['Title', 'Description', 'City', 'Url'])
    
    return df.head(5)

In [177]:
vocabulary = load_obj('vocabulary')

In [179]:
search_engine_1('Beautiful room with garden')

,Title,Description,City,Url
0,The Vintage room in Fort Worth,Our place is a beautiful cozy open concept hou...,Fort Worth,https://www.airbnb.com/rooms/18959678?location...
1,The Vintage room in Fort Worth,Our place is a beautiful cozy open concept hou...,Fort Worth,https://www.airbnb.com/rooms/18959678?location...
2,Colorful Garden Home plus Private Studio Apart...,"Natural beauty and great art make this clean, ...",San Antonio,https://www.airbnb.com/rooms/17341454?location...
3,Simple room at centralized location,Private room at centralized location. The rest...,Dallas,https://www.airbnb.com/rooms/4196708?location=...
4,Beautiful Condo. Direct access to the Beach.,Beautiful Condo with direct access the South P...,South Padre Island,https://www.airbnb.com/rooms/17045040?location...

In [27]:
def dict_with_tf(data):
    vocabulary = load_obj('vocabulary')
    n = len(data)
    
    ii2 = defaultdict(list)
    
    
    for i in range(n):
        tokenized_str = (remove_step(data.iloc[i]['title']) + ' ' 
                                     + remove_step(data.iloc[i]['description']))
    
        for term in tokenized_str.split(' '):
            doc_name = 'doc_%s'%i
            ii2[term].append((doc_name,1))
        
    return ii2

In [28]:
ii2 = dict_with_tf(texas1)

In [85]:
save_obj(ii2,'inverted_index_onlyTF')

    II with TF:
    Taking each list for each term in the inverted index,
    we wanted to find the occurrencies for that term in each document.
    Thus, we created the inverted index with every document appended inside the value of each 
    term (the key of the dictionary), 
    and using in a loop the reduce_doc_list method.
    In this method we reduced the repetitions of the same docs in each list, summing them.

In [30]:
def reduce_doc_list(doc_list):
    """
    function called by dict_TFIDF
    
    It reduces the list of documents into a list 
    of tuple with doc_id and its occurencies
    
    input:
    - list 
    output:
    - list 
    """
    tf_term_i = Counter(doc_list)
    doc_tf_lst = []
    doc_tf_lst = [tuple([key,value]) for key,value in tf_term_i.items()]
    return doc_tf_lst

def compute_ii2_TFIDF(ii2,n):
    """
    compute the ii2_TFIDF
    input:
    - inverted index matrix (with TF)
    - number of documents
    output:
    - ii2 
    """
    for key, value in ii2.items():
        N = len(value)
        new_list = []
        for item in value:
            new_list.append(tuple([item[0], round(float(item[1])* log(n/N),3)]))
            
        ii2[key] = new_list
    return ii2

In [31]:
def dict_with_TFIDF(data):
    """
    creates the TFIDF inverted index as dict
    and store it into a pickle file
    input:
    - data
    """
    vocabulary = load_obj('vocabulary')
    n = len(data)
    
    ii2 = defaultdict(list)
    
    for i in range(n):
        tokenized_str = (remove_step(data.iloc[i]['title']) + ' ' 
                                     + remove_step(data.iloc[i]['description']))
    
        for term in tokenized_str.split(' '):
            doc_name = 'doc_%s'%i
            ii2[vocabulary[term]].append(doc_name)
            
    
    for key,value in ii2.items():
        ii2[key] = reduce_doc_list(value)
    
    ii2 = compute_ii2_TFIDF(ii2,n)
    save_obj(ii2,'inverted_index_TFIDF')
    return

In [23]:
start = time.time()
dict_with_TFIDF(texas1)
print (time.time()-start)

242.7152338027954

We decided to create the new search engine (second) basing on the inverted indexes already built, but cutting them: in this way the laptop will have less computation than to compute everything.
Thus, every time we have a new query, the method generates 2 different inverted indexes.

In this way, we won't need a big numpy array for the query and each document considered (we took docs that contained every word, using intersection (for this purpose we took the first inverted index)) for making the cosine similarity (for this we exploited the second inverted index) ; in fact, vectors for computing cosine similarity will be exactly long like the length of the query. 
Query will have 1 for each element (?)(still to decide) and doc vector will have each tfidf for each term of the query.

$$ 1-cosine(\text{doc array for the query},\text{array of query}) $$
will compute the Cosine Similarity

In [7]:
def search_engine_2(query, k = 5):
    """
    search engine with TFIDF
    input:
    - query: the query (string)
    - k: number of output as doc (default = 5)
    output:
    - df: dataframe with k documents
    """

    # stemming the query with remove step method
    query = remove_step(query).split(' ')
    vocabulary = load_obj('vocabulary')
    
    # filtering the values not contained in vocabulary
    # dict and mapping each term to its term_ID value
    
    # for word in query:
        # if word is not in vocabulary.keys:
            # print('Zero documents with all char of the query')
            #return
    query = filter(lambda x: x in vocabulary.keys(),query)
    query = list(map(lambda x: vocabulary[x], query))
    
    # making query list and array at the same time 
    # with Counter() dict (to ensure the order of the 2 arrays)
    # (dictionaries are not ordered)
    query_array = []
    query_list = []
    for key, frequence in Counter(query).items():
        query_list.append(key)
        query_array.append(frequence)
    
    # creating query list and numpy array with frequencies
    query = query_list
    query_array = np.array([query_array])

    # list of documents obtained intersecating each list
    # from inverted index 1 (easier to compute)
    docs = []
    ii1 = load_obj('inverted_index_1')
    ii1 = {term_id:ii1[term_id] for term_id in query}
    docs = set.intersection(*[set(value) for value in ii1.values()])

    # filtering ii2 with only the query terms
    ii2 = load_obj('inverted_index_TFIDF')
    ii2 = {term_id:ii2[term_id] for term_id in query}
    
    # for each doc in the list docs it creates the ranking list
    rank_lst = []
    for doc_id in docs:
        # doc TFIDF array. It must have the same 'order' as
        # the query array. to ensure this we use the query list
        array = []
        for item in query:
            array += tuple(filter(lambda x:x[0]==doc_id, ii2[item]))

        array = np.array([x[1] for x in array])
        rank_lst.append(tuple([1-cosine(array,query_array),doc_id]))
    
    # print('%d documents'%len(rank_lst)) DEBUG
    
    df = first_k_documents(rank_lst, 5)
    
    return len(rank_lst)
    return df


def first_k_documents(heap_rank_lst, k = 5):
    """
    it returns the first k documents as a df
    loading them into an heap memory
    input:
    - heap_rank_lst: list to be heaped
    - k: first k documents
    output:
    - df: dataframe with k documents
    """
    list_for_df = []
    
    if k > len(heap_rank_lst):
        k = len(heap_rank_lst)
        
    heapq._heapify_max(heap_rank_lst)
    
    for i in range(k):
        current_doc = heapq._heappop_max(heap_rank_lst)
    
        with open ("data/docs/" + current_doc[1] + '.tsv') as doc:
            row = doc.read()
            lst = row.split('\t')
            lst = [lst[7],lst[4],lst[2],lst[8], round(current_doc[0],3)]
            list_for_df.append(lst)
    
    return pd.DataFrame(list_for_df, columns=['Title', 'Description', 'City', 'Url', 'Similarity'])

In [234]:
from time import time
start = time()
df = search_engine_2("search engine")
print(time()-start)
df

0.6097888946533203

0

## 4 Point

In [8]:
rooms_ranker = {
    0: 1,
    1: 0.7,
    2: 0.4,
    3: 0.1,
    # others values are almost zero! 
}

def rooms_rank (rooms, nrooms, rooms_ranker):
    """
    ranks the room
    """
    
    # if rooms or nrooms is a string (eg: studio)
    # convert it into a string
    if isinstance(rooms, str):
        rooms = 1
    if isinstance(nrooms, str):
        nrooms = 1
    
    # taking the distance between the two rooms
    value = abs(rooms - nrooms)

    # if there's no a region of values give zero
    if value not in rooms_ranker:
        return 0
    else:
        # give the value signed in rooms_ranker
        return rooms_ranker[value]

def price_rank (p_query, p_doc):
    
    if p_query == p_doc:
        return 1
    
    if p_query > p_doc:
        return p_doc/p_query
    else:
        return p_query/p_doc

In [198]:
# other price raker values! 
# if we don't know how to handle the problem
price_ranker = {
    
    10: 1,
    20: 0.8,
    40: 0.6,
    60: 0.4,
    80: 0.2   
}

A = 10
B = 20 
C = 40 
D = 60
E = 80

def rooms_rank (n_query, n_doc, rooms_ranker):
    value = abs(n_query)

In [224]:
def search_engine_3(query): 
    
    query = remove_step(query)
    query = list(set(query.split(' ')))
    
    heap = []
    lst_of_lst=[]
    
    vocabulary = load_obj('vocabulary')
    ii1 = load_obj('inverted_index_1')
    
    for w in query:
        if w not in vocabulary:
            print('No results')
            return
        i = vocabulary[w]
        lst_of_lst.append(ii1[i])


    doc_list = set.intersection(*[set(sublist) for sublist in lst_of_lst])
    doc_list = list(doc_list)
    dl = len(doc_list)   
    
    if dl == 0:
        print('No results')
        return
    
    print("target price:")
    target_price = int(input())
    print("n rooms:")
    rooms = int(input())
    print("location")
    location = input()
    
    #if len(str(rmin)) == 0:
    #    rmin = 1
    for doc in doc_list:
        with open('data/docs/'+doc+'.tsv', encoding = 'utf-8') as f:
            row = f.read()
            row = row.split('\t')
            dp = int(row[0][1:])
            try:
                nrooms = int(row[1])
            except ValueError:
                continue
            if math.isnan(float(row[1])):
                continue

             # and dp > rmin: 
            #sp = abs(rmax - rmin)/dp
            score_price = 0.3*price_rank(target_price,dp)
            ratio_rooms = 0.1*rooms_rank(rooms, nrooms, rooms_ranker)
            score_location = 0.6*location_rank()
                #if ratio_rooms <= 1 and ratio_rooms > 0.5 and sp > 0.5 and sp <=1:  
            heappush(heap,tuple([score_price+ratio_rooms,doc])) 
            
    list_for_df=[]
    k=5
    
    l = len(heap)
    for i in range(l):
        heapq._heapify_max(heap)
        
        
        tup = heappop(heap)
        #print(tup)
        with open ("data/docs/" + tup[1] + '.tsv', encoding = 'utf-8') as doc:
            row = doc.read()
            lst = row.split('\t')
            lst = [i, lst[7],lst[4],lst[2],lst[8]]
            list_for_df.append(lst)
        
    df=pd.DataFrame(list_for_df, columns=['Ranking','Title', 'Description', 'City', 'Url'])
    
    return df.head(k),tup

In [227]:
res,tup = search_engine_3("texas room private")

max price:
3
n rooms:
3

In [38]:
def scoring_distance(center, house):
      
    R = distance.distance(center, house).km
    #print(R, 'km')
    #R  = 6
    #print(R) 
    #return 1 - R / (1 + R)
    #return 1 - (math.log2(R)  + 1) / (1 + (math.log2(R) + 1))
    #return 1 - (math.log(R)  + 1) / (1 + (math.log(R) + 1))
    #return 1 - (math.log10(R/2)  + 1) / (1 + (math.log10(R/2) + 1))
    
    return round(1 - (R/(1+R)),3), R

In [44]:
X = [round(0.2 * x,3) for x in range(0,100)]

value  = abs(50, 160)

for R in X:
    #print(R, '\t', round(1 - (math.log(R)  + 1) / (1 + (math.log(R) + 1)),3))
    #print(R,'\t',round(1 -  ((math.log10(R+1))/(1+(math.log10(R+1)))) ,3))
    print (R, '\t',round(1 - (R/(1+R)),3))
#print(X)

0.0 	 1.0
0.2 	 0.833
0.4 	 0.714
0.6 	 0.625
0.8 	 0.556
1.0 	 0.5
1.2 	 0.455
1.4 	 0.417
1.6 	 0.385
1.8 	 0.357
2.0 	 0.333
2.2 	 0.312
2.4 	 0.294
2.6 	 0.278
2.8 	 0.263
3.0 	 0.25
3.2 	 0.238
3.4 	 0.227
3.6 	 0.217
3.8 	 0.208
4.0 	 0.2
4.2 	 0.192
4.4 	 0.185
4.6 	 0.179
4.8 	 0.172
5.0 	 0.167
5.2 	 0.161
5.4 	 0.156
5.6 	 0.152
5.8 	 0.147
6.0 	 0.143
6.2 	 0.139
6.4 	 0.135
6.6 	 0.132
6.8 	 0.128
7.0 	 0.125
7.2 	 0.122
7.4 	 0.119
7.6 	 0.116
7.8 	 0.114
8.0 	 0.111
8.2 	 0.109
8.4 	 0.106
8.6 	 0.104
8.8 	 0.102
9.0 	 0.1
9.2 	 0.098
9.4 	 0.096
9.6 	 0.094
9.8 	 0.093
10.0 	 0.091
10.2 	 0.089
10.4 	 0.088
10.6 	 0.086
10.8 	 0.085
11.0 	 0.083
11.2 	 0.082
11.4 	 0.081
11.6 	 0.079
11.8 	 0.078
12.0 	 0.077
12.2 	 0.076
12.4 	 0.075
12.6 	 0.074
12.8 	 0.072
13.0 	 0.071
13.2 	 0.07
13.4 	 0.069
13.6 	 0.068
13.8 	 0.068
14.0 	 0.067
14.2 	 0.066
14.4 	 0.065
14.6 	 0.064
14.8 	 0.063
15.0 	 0.062
15.2 	 0.062
15.4 	 0.061
15.6 	 0.06
15.8 	 0.06
16.0 	 0.059
16.2 	 0.058
16.4 	 0.057
16.6 	 0.057
16.8 	 0.056
17.0 	 0.056
17.2 	 0.055
17.4 	 0.054
17.6 	 0.054
17.8 	 0.053
18.0 	 0.053
18.2 	 0.052
18.4 	 0.052
18.6 	 0.051
18.8 	 0.051
19.0 	 0.05
19.2 	 0.05
19.4 	 0.049
19.6 	 0.049
19.8 	 0.048

In [43]:
docs = ['doc_1', 'doc_2']

location = 'New York'

def location_rank(docs, location, latitude, longitude)

    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(location)
    center = (location.latitude, location.longitude)

    print(location,'\t\t', center,'\nvs')


    for i in range(len(docs)):

        with open ("data/docs/" + str(docs[i]) + '.tsv','r') as doc:
            row = doc.read()
            row = row.split('\t')
            house = (round(float(row[5]),7),round(float(row[6]),7))


            #if math.isnan(house[0]):
                    # extract the location from the name of the city
            location = geolocator.geocode('Piazza Navona, Roma')#row[2])
            house = [location.latitude, location.longitude]
            print(location, '\t\t\t\t\t', house)
            #print(row[2], '\t\t\t\t\t', house)
            print(scoring_distance(center, house))

Roma, RM, LAZ, Italia 		 (41.894802, 12.4853384)
vs
Piazza Navona, Municipio Roma I, Roma, RM, LAZ, 00186, Italia 					 [41.8989155, 12.4731185364971]
(0.473, 1.1122338816258313)

In [99]:
def price_rank(p_query, p_doc):
    
    value = abs(p_query-p_doc)
    
    if value >= 100: 
        return 0
    else:
        return round(1-value*1/100, 3)

In [107]:
price_rank(100,5)

0.05